<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://monseestool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>monseestool.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>monseestool</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$monseestool</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnectionString2" Order="1" Enabled="False">
          <Destination Path="Data Source=intranet.database.windows.net;Initial Catalog=Monsees2;User ID=monseesadmin;Password=StPaul1918#1m7" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=D-SQL4;Initial Catalog=Monsees-Monsees2;User ID=monsees;Password=4Kn-h4bKeCROE" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=D-SQL4;Initial Catalog=Monsees-Monsees2;User Id=monsees;Password=4Kn-h4bKeCROE;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=intranet.database.windows.net;Initial Catalog=Monsees2;User ID=monseesadmin;Password=StPaul1918#1m7" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SERVER1\SQLEXPRESS;Initial Catalog=Monsees2;Integrated Security=True;Connect Timeout=120" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SERVER1\SQLEXPRESS;Initial Catalog=Monsees2;Integrated Security=True;Connection Timeout=120" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=intranet.database.windows.net;Initial Catalog=Monsees2;User ID=monseesadmin;Password=StPaul1918#1m7</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString2-Web.config Connection String">
      <ParameterValue>Data Source=intranet.database.windows.net;Initial Catalog=Monsees2;User ID=monseesadmin;Password=StPaul1918#1m7</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>