<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<connectionStrings>
		<clear/>
		<add name="ConnectionString" connectionString="Data Source=D-SQL4;Initial Catalog=Monsees-Monsees2;User Id=monsees;Password=4Kn-h4bKeCROE;" providerName="System.Data.SqlClient"/>
		<add name="ConnectionString2" connectionString="Data Source=D-SQL4;Initial Catalog=Monsees-Monsees2;User Id=monsees;Password=4Kn-h4bKeCROE;" providerName="System.Data.SqlClient"/>
		<!--<add name="ConnectionString" connectionString="server=192.168.1.100\SQLExpress; database=Monsees2;uid=MONSEESTOOL\jspurling; pwd=Elise1211;Integrated Security = true"/>
		<add name="ConnectionString2" connectionString="server=192.168.1.100\SQLExpress; database=Monsees2;uid=MONSEESTOOL\GQPublic;pwd=Monsees9922;Integrated Security = true"/>-->
  
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
